.place__column{
  display: flex;
  flex-direction: column;
}

.place__column:first-child{
  padding-right: 40px;
}

@media screen and (max-width: 1279px) {
  .place__column:first-child{
    padding-right: 32px;
  }
}
