.cover{
  background-image: url(../../images/do_baikala_1-5x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1184px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 12px auto 92px;
}
