.place__link{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover{
  color: #ffffffcc;
  transition: color 0.2s linear;
}
