.place__paragraph-cont{
  max-width: 484px;
  padding-top: 48px;
}

@media screen and (max-width: 1279px) {
  .place__paragraph-cont{
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph-cont{
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph-cont{
    max-width: 288px;
    padding-top: 0;
  }
}
